body {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}
.title {
    font-size: 24px;
}
.row {
    padding: 25px 0px;
    display: flex;
    align-items: center;
}
.no-bottom-border {
    border-bottom: none;
}
.no-padding-top {
    padding-top: 0px;
}
.row.task {
    color: lightgray;
    border-bottom: solid thin lightgray;
}
span.task-selected {
    color: #00A7FF;
}
span.task-selected, span.task-deselected {
    margin-right: 10px;
}
.task-text {
    margin-bottom: 0px;
}
.task-hours-col {
    text-align: right;
    font-weight: 700;
}
.task-hours-col > svg {
    color: #57C325;
}
.task-hours {
    color: #37416C;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0px;
}
input.form-control{
    font-weight: 400;
    padding: 15px;
    height: auto;
}
input, button {
    border-radius: 10px !important;
    font-size: 14px !important;
}
button.organise-tasks {
    color: #0DACFF;
    padding: 9px 15px 8px 15px;
}
input.enter-hours-input {
    border-color: #57C325;
    padding: 15px 15px 15px 35px;
}
input.enter-hours-input, input.enter-hours-input::placeholder {
    color: #57C325;
}
span.enter-hours-icon{
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    color: #57C325;
}
button.add-task {
    background-color: #00A7FF;
    border: none;
    padding: 9px 20px;
}